.calculator-wrapper {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  gap: 0.1rem;
}

.result-section {
  grid-column: 16 span;
  background-color: gray;
  color: white;
  padding: 1rem;
  text-align: right;
  font-size: 1.5rem;
}

.calculator-wrapper .btn {
  display: grid;
  place-content: center;
  padding: 2rem;
  background-color: #ddd;
  cursor: pointer;
}

.calculator-wrapper .btn:hover {
  background-color: #eee;
}

.btn-operation {
  grid-column: 4 span;
}

.calculator-wrapper .btn-operation {
  background-color: #f5913e;
}

.calculator-wrapper .btn-operation:hover {
  background-color: #ff7756;
}

.btn-0 {
  grid-column: 8 span;
}

.btn-decimal,
.btn-add,
.btn-minus,
.btn-multiply,
.btn-divid {
  grid-column: 4 span;
}

.btn-1,
.btn-2,
.btn-3,
.btn-4,
.btn-5,
.btn-6,
.btn-7,
.btn-8,
.btn-9 {
  grid-column: 4 span;
}

.btn-ac,
.btn-negative,
.btn-percent {
  grid-column: 4 span;
}
